{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/form.html' import render_field %}


{% block app_content %}
    <h1>{{ _('Ticket ')  }} {{ ticket.id }}</h1>

    <div class="row">
        <div class="col-md-9">
            <h3>Requester: {{ requester }}</h3>
            <h3>Status: {{ status }}</h3>
            <h3>Creation Date: {{ ticket.creation_date.strftime("%Y-%m-%d, %H:%M") }}</h3>
            <a class="btn btn-primary" role="button" href="{{ url_for('reclamation_bp.reclamation',reclamation_number=reclamation_number) }}">Go to the reclamation</a>
            <br>
            <br>

            {{ render_form(form, form_type='horizontal', horizontal_columns=('lg', 3, 9)) }}
        </div>
    </div>

{% endblock %}