
{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DataTables/datatables.min.css') }}"/>
    {{ super() }}

{% endblock %}

{% block app_content %}
    <div class="container">
        <h1>{{ _('Tickets') }}</h1>
        <table class="table table-hover display" style="width:100%;" id="ticket_table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">{{ _('ID') }}</th>
                <th scope="col">{{ _('Creation Date') }}</th>
                <th scope="col">{{ _('Due Date') }}</th>
                <th scope="col">{{ _('Finished Date') }}</th>
                <th scope="col">{{ _('Status') }}</th>
                <th scope="col">{{ _('Reclamation Customer') }}</th>
                <th scope="col">{{ _('Reclamation ID') }}</th>
                <th scope="col">{{ _('Assigned') }}</th>
                <th scope="col">{{ _('Description') }}</th>
            </tr>
            </thead>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="{{ url_for('static', filename='DataTables/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/tickets_all_script.js') }}"></script>
{% endblock %}