{% extends "base.html" %}

{% block app_content %}

    <h1>Search Results</h1>
    <br>

    {% for module_sn in range(total) %}

    <h4>Serial Number: {{ serial_numbers[module_sn].part_sn }}</h4>
    <h4>Internal Part ID: {{ serial_numbers[0].id }}</h4>
    <br>

    <table class="table table-hover">
        <thead>
        <tr>
            <th style="width: 15%">ID</th>
            <th style="width: 15%">Informed Date</th>
            <th style="width: 60%">Description</th>
            <th style="width: 10%">Status</th>
        </tr>
        </thead>

        {% for i in range(results[module_sn]) %}

            <tbody>

            {% if serial_numbers[module_sn].reclamation_p_sn.all()[i].status == 0 %}
                <tr class="table-danger">
                    {% else %}
                <tr class="table-success">
            {% endif %}



            <th scope="row">
                <a href="{{ url_for('reclamation_bp.reclamation',reclamation_number=serial_numbers[module_sn].reclamation_p_sn.all()[i].id) }}">
                    Reclamation: {{ serial_numbers[module_sn].reclamation_p_sn.all()[i].id }}</a>
            </th>
            <td>
                {{ serial_numbers[module_sn].reclamation_p_sn.all()[i].informed_date.date() }}
            </td>
            <td>
                {{ serial_numbers[module_sn].reclamation_p_sn.all()[i].description_reclamation }}
            </td>
            <td>
                {% if serial_numbers[module_sn].reclamation_p_sn.all()[i].status ==0 %}
                    Open
                {% else %}
                    Closed
                {% endif %}
            </td>

            </tr>
            </tbody>
        {% endfor %}
    </table>
        <hr>
    <br><br>
    {% endfor %}
{% endblock %}
