{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'bootstrap/form.html' import render_field %}


{% block app_content %}
    <div class="row">
            <div class="col-md-3">
                <h1>{{ _('Reclamation') }}</h1>
            </div>
            <div class="col-md-3">
                {{ render_form(form_ticket) }}
            </div>
    </div>


    <div class="row">
        <div class="col-md-9">
            <h3>Requester: {{ requester }}</h3>
            <h3>Status: {{ status }}</h3>
            <form method="POST">
                {{ form.csrf_token() }}
                {{ render_field(form.customer, horizontal_columns=('lg', 3, 9)) }}
                {{ render_field(form.informed_date, horizontal_columns=('lg', 3, 9)) }}
                {{ render_field(form.due_date, horizontal_columns=('lg', 3, 9)) }}
                {{ render_field(form.part_model, horizontal_columns=('lg', 3, 9)) }}
                {{ render_field(form.part_sn, horizontal_columns=('lg', 3, 9)) }}
                {{ render_field(form.part_prod_date, horizontal_columns=('lg', 3, 9)) }}
                {{ render_field(form.description, horizontal_columns=('lg', 3, 9)) }}
                {{ render_field(form.finished_date, horizontal_columns=('lg', 3, 9)) }}
                {% if current_user.id == rec.reclamation_requester.id %}
                    {{ render_field(form.submit) }}
                {% endif %}


            </form>
            {#            {{ render_form(form, form_type='horizontal', horizontal_columns=('lg', 3, 9)) }}#}

        </div>
    </div>
{% endblock %}