{% from 'bootstrap/nav.html' import render_nav_item %}

<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block styles %}
            {{ bootstrap.load_css() }}
            <style type="text/css">
                body {
                    background: #f5f5f0 !important;
                }
            </style>
        {% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

        <title>
            {% if title %}
                {{ title }} - ERP
            {% else %}
                ERP System
            {% endif %}
        </title>

    {% endblock %}
</head>

<body>
{% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand mb-0 h1" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='/images/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="logo" > ERP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if request.url_rule.endpoint == 'main.index' %} active {% endif %}">
                        <a class="nav-link" href="{{ url_for('main.index') }}">{{ _('Homepage') }}<span
                                class="sr-only">(current)</span></a>
                    </li>
                    {% if not current_user.is_anonymous %}
                        <li class="nav-item {% if request.url_rule.endpoint == 'ticket_bp.my_tickets' %} active {% endif %}">
                            <a class="nav-link" href="{{ url_for('ticket_bp.my_tickets') }}">{{ _('My tasks') }}
                                {% set open_tickets = current_user.open_tickets() %}
                                <span id="tickets_count" class="badge badge-primary">
                                        {{ open_tickets }} open
                                    </span></a></li>
                        <li class="nav-item {% if request.url_rule.endpoint == 'ticket_bp.tickets_all' %} active {% endif %}">
                            <a class="nav-link" href="{{ url_for('ticket_bp.tickets_all') }}">{{ _('Tickets') }}</a>
                        </li>
                        <li class="nav-item {% if request.url_rule.endpoint == 'reclamation_bp.new_reclamation' %} active {% endif %}">
                            <a class="nav-link"
                               href="{{ url_for('reclamation_bp.new_reclamation') }}">{{ _('Create reclamation') }}
                            </a>
                        </li>
                        <li class="nav-item {% if request.url_rule.endpoint == 'reclamation_bp.reclamations_all' %} active {% endif %}">
                            <a class="nav-link"
                               href="{{ url_for('reclamation_bp.reclamations_all') }}">{{ _('Reclamations') }}</a>
                        </li>
                        <li class="nav-item {% if request.url_rule.endpoint == 'users.messages' %} active {% endif %}">
                            <a class="nav-link" href="{{ url_for('users.messages') }}">{{ _('Notifications') }}
                                {% set new_messages = current_user.new_messages() %}
                                <span id="message_count" class="badge badge-primary"
                                      style="visibility: {% if new_messages %}visible
                                      {% else %}hidden {% endif %};">
                                        {{ new_messages }} new
                                    </span></a>
                        </li>

                    {% endif %}
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_anonymous %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">{{ _('Login') }}</a>
                        </li>
                    {% else %}
                        {% if current_user.is_administrator() %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.index') }}">{{ _('Admin') }}</a>
                        </li>
                        {% endif %}

                        <li class="nav-item"><a class="nav-link"
                                                href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 10px;">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block app_content %} {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ bootstrap.load_js() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
        function set_message_count(n) {
            $('#message_count').text(n+' new');
            $('#message_count').css('visibility', n ? 'visible' : 'hidden');
        }
        function set_ticket_count(n) {
            $('#tickets_count').text(n+' open');
        }

        {% if current_user.is_authenticated %}
            $(function () {
                var since = 0;
                setInterval(function () {
                    $.ajax('{{ url_for('users.notifications') }}?since=' + since).done(
                        function (notifications) {
                            for (var i = 0; i < notifications.length; i++) {
                                if (notifications[i].name == 'unread_message_count')
                                    set_message_count(notifications[i].data);
                                since = notifications[i].timestamp;
                                if (notifications[i].name == 'open_tickets_count')
                                    set_ticket_count(notifications[i].data);
                            }
                        }
                    );
                }, 100000);
            });
        {% endif %}
    </script>
{% endblock %}
</body>
</html>
